body {
  margin: 0;
  padding: 0;
  background: #000000;
}

.cup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 180px;
  border: 6px solid #000000;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(https://image.ibb.co/fmHm66/wave.png);
  background-position: 0px 350px;
  background-repeat: repeat-x;
  animation: filling 10s ease-in-out infinite;
  box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
}

@keyframes filling {
  50% {background-position: 3000px 0px;}
  100% {background-position: 6000px 350px;}
}